.break_all {
  word-break: break-all;
}
.footer-article {
  margin-bottom: 20px;
}
.article {
  text-align: left;
  max-width: 750px;
  min-height: 100%;
  margin: 0 auto;
  padding: 45px 0 10px;
  position: relative;
  background-color: #fff;
}
.ta .tac .iframe_wrap,
.ta .tac iframe,
.ta .tac img,
.ta .tac video {
  max-width: 100%;
  vertical-align: top;
}
.tl_message {
  font-family: CustomSansSerif, "Lucida Grande", Arial, sans-serif;
  padding: 70px 0;
  color: #79828b;
  text-align: center;
}
.tl_message h1 {
  font-size: 120px;
  margin: 0;
}
.ta .ql-container {
  height: auto;
}
.prompt {
  left: 0;
  top: 0;
  bottom: 0;
}
.prompt .prompt_input_wrap {
  overflow: hidden;
}
.prompt .prompt_input {
  width: 100%;
  margin: 0;
  border: none;
  background-color: transparent;
  box-sizing: border-box;
}
.tl_blocks {
  text-align: right;
  left: 0;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.15s ease;
}
.tl_blocks.shown {
  visibility: visible;
  opacity: 1;
}
@media (max-width: 960px) {
  .tl_blocks {
    text-align: center;
  }
}
.ta ::selection {
  background: #dbdbdb;
}
.ta ::-moz-selection {
  background: #dbdbdb;
}
.ta .cursor_wrapper {
  display: none;
  position: absolute;
  font-size: 1px;
  left: 50%;
  z-index: -1;
}
.ta .tac,
.ta .tac .ql-editor {
  font-family: "Open Sans",sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
  padding: 0;
  margin: 0;
  color: rgba(0, 0, 0, 0.8);
}
.ta h1,
.ta h2 {
  font-family: CustomSansSerif, "Lucida Grande", Arial, sans-serif;
  font-style: normal;
}
.ta .ql-editor {
  height: 100%;
  overflow: visible;
  text-align: inherit;
}
.ta .tac,
.ta .tac .ql-editor * {
  white-space: pre-wrap;
}
.ta .tac.ql-container {
  white-space: normal;
}
.ta h1,
.ta h2 {
  font-weight: 700;
  font-size: 32px;
  margin: 21px 21px 12px;
}

.ta h2 {
  font-size: 24px;
  margin: -6px 21px 12px;
  color: rgba(0, 0, 0, 0.44);
}

.ta a[href] {
  color: inherit;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0.44);
  text-decoration: none;
  border-bottom: 0.1em solid rgba(0, 0, 0, 0.7);
}
.footer-article {
  font-size: 12px;
  font-family: PingFangSC-Regular, "Open Sans", sans-serif;
  font-weight: 400;
  color: rgba(0,0,0,1);
  text-align: center;
  letter-spacing: 1px;
}

#button {
  font-family: CustomSansSerif, "Lucida Grande", Arial, sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 17px;
  color: #000;
  text-decoration: none;
  border: 2px solid #333;
  border-radius: 16px;
  text-transform: uppercase;
  padding: 4px 12px;
  margin: 0 0 15px;
  background-color: #fff;
  cursor: pointer;
}

.markdown-body.tac {
    margin: 20px;
}


/* dialog */
/* 改变层级 但高于普通元素的层级 */
.za-modal {
  z-index: 99;
}
.za-modal .za-modal-dialog{
  background-color: #000!important;
}
.support-input {
    margin: 16px 0;
    border: 1px solid #dadada;
    padding: 8px;
    border-radius: 3px;
}
.support-input__amount {
    width: 100%;
    border: none;
    outline: none;
}
.support-button {
    display: block;
    width: 100%;
    border: none;
    outline: none;
    background: #478970;
    color: #fff;
    line-height: 46px;
    border-radius: 3px;
}
.dropdown {
    position: absolute;
    background-color: #434343;
    color: #fff;
    top: 50px;
    right: 16px;
    cursor: pointer;
}
.dropdown-item {
    padding: 8px 20px;
    font-size: 14px;
}
.dropdown-item:hover {
    background-color: #2f2f2f;
}
a:link {
    color: black;
}
a:visited {
    color: black;
}
a:hover a:active {
    color: black;
}
a:active {
    color: black;
}




.ta_header {
  margin: 12px 24px 18px;
  padding: 0;
}
.ta_header h1 {
  font-size: 18px;
  color: #333;
  margin: 14px 0 0;
  word-break: break-word;
  font-family: PingFangSC-Regular;
  font-weight: bolder;
  line-height: 1.5;
}
.avatar-info {
  display: flex;
  align-items: center;
  .avatar {
    flex: 0 0 40px;
    width: 40px;
    height: 40px;
    overflow: hidden;
    background-color: #eee;
    border-radius: 50%;
    margin-right: 10px;
    cursor: pointer;
  }
  .avatar-size {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
  .author {
    font-size:14px;
    font-family:PingFangSC-Medium;
    font-weight:500;
    color:#343434;
    padding: 0;
    margin: 2px 0;
    line-height: 1.5;
    cursor: pointer;
    word-break: break-word;
  }
  .other {
    font-size:14px;
    font-family:PingFangSC-Regular;
    font-weight:400;
    color: #818181;
    line-height: 1.5;
    padding: 0;
    margin: 2px 0;
    display: flex;
    align-items: center;
    .avatar-date{
      width: 13px;
      margin-right: 2px;
    }
    .avatar-read {
      width: 14px;
      margin-left: 8px;
      margin-right: 2px;
    }
  }
}





/* markdown */
.markdown-body {
  margin: 8px 24px;
  padding: 0 0 38px 0;
  font-family: -apple-system,SF UI Text,Arial,
              PingFang SC,Hiragino Sans GB,
              Microsoft YaHei,WenQuanYi Micro Hei,sans-serif;
  color: #2f2f2f;
}

.ipfs-hash {
  background:rgba(246,246,246,.73);
  border-radius:16px;
  padding: 8px 20px;
  margin: 0 20px 20px;
  font-size:14px;
  font-family:PingFangSC-Light;
  color:rgba(0,0,0,.5);
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  .copy-hash {
    width: 16px;
    margin-right: 2px;
    cursor: pointer;
    line-height: 38px;
    vertical-align: middle;
  }
}

.decoration {
  padding: 0 20px 20px;
  display: flex;
  justify-content: space-between;
  // align-items: center;
  .is-original {
    font-size:12px;
    font-family:PingFangSC-Light;
    font-weight:300;
    color:rgba(0,0,0,.445);
    line-height:16px;
  }
}


.comments-list {
  background-color: #F5F5F5;
  padding-top: 10px;
}

.commentslist-title {
  margin: 0;
  padding: 10px 20px;
  background-color: #fff;
  position: relative;
  &::after {
    position: absolute;
    content: '';
    display: block;
    height: 1px;
    left: 20px;
    right: 20px;
    bottom: 0;
    background-color: #f1f1f1;
  }
  span {
    font-size:14px;
    font-family:PingFangSC-Regular;
    font-weight:400;
    color:rgba(0,0,0,.7);
    letter-spacing:1px;
    position: relative;
    &::after {
      position: absolute;
      content: '';
      display: block;
      height: 2px;
      left: 0px;
      right: 0px;
      bottom: -10px;
      border-radius: 3px;
      background-color: #4C4C4C;
    }
  }
}
/* comments */

.comments {
  margin-bottom: 60px;
  background-color: #fff;
  padding: 1px 0 0 0;
  box-sizing: border-box;
}


/* footer */
.footer {
  max-width: 750px;
  width:100%;
  padding-bottom: constant(safe-area-inset-bottom);
  padding-bottom: env(safe-area-inset-bottom);
  background:#fff;
  box-shadow:0px -2px 6px 0px rgba(183,183,183,0.18);
  position: fixed;
  bottom: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  
}
.footer-block {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px 0;
}
.footer-block .amount,
.footer-block .fission {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 13px;
  font-weight:400;
  color:#494949;
  cursor: pointer;
}
.footer-block .amount div,
.footer-block .fission div {
  display: flex;
  align-items: center;
}
.footer-block .amount {
  margin-right: 16px;
  &-icon {
    display: flex;
    align-items: center;
    img {
      width: 13px;
      margin: 0 6px 0 0;
    }
  }
}
.footer-block .amount-img {
  width: 16px;
  height: 20px;
  margin-right: 4px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  &.eos{
    background-image: url(../../assets/img/icon_eos_article.svg);
  }
  &.ont {
    background-image: url(../../assets/img/icon_ont_article.svg);
  }
  &.fission {
    background-image: url(../../assets/img/icon_fission.svg);
  }
}
.footer-block .amount-text {
  font-size:12px;
  font-family:PingFangSC-Regular;
  font-weight:400;
  letter-spacing: 1px;
}
.footer-block .button-support,
.footer-block .button-share {
  outline: none;
  border: none;
  padding: 6px 10px;
  font-size:13px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  border-radius:3px;
}
.footer-block .button-support {
  background:rgba(71,137,112,1);
  font-family:PingFangSC-Medium;
  font-weight:500;
  color:rgba(255,255,255,1);
  letter-spacing:1px;
  border:1px solid rgba(71,137,112,1);
}
.footer-block .button-support:disabled {
  background: #D7D7D7;
  color: #fff;
  border:1px solid #D7D7D7;
}
.footer-block .button-share {
  border:1px solid rgba(41,139,111,1);
  font-family:PingFangSC-Semibold;
  font-weight:600;
  color:rgba(71,137,112,1);
  background-color: #fff;
  letter-spacing:1px;
  margin-left: 8px;
}
.footer-block .button-support img {
  width: 12px;
  margin-left: 4px;
}
.footer-block .button-share img {
  width: 14px;
  margin-left: 4px;
}


.loading-stat {
  text-align: center;
}

@media screen and (min-width: 750px) {
  .ta_header h1 {
    font-size: 24px;
  }

  .commentslist-title {
    font-size:16px;
  }

  .footer-block {
    padding: 12px 0;
  }

  .footer-block .button-support,
  .footer-block .button-share {
    font-size:14px;
    padding: 8px 16px;
  }
  .footer-block .button-support img {
    width: 14px;
  }
  .footer-block .button-share img {
    width: 16px;
  }
  .footer-block .amount,
  .footer-block .fission {
    font-size:14px;
    cursor: pointer;
  }
  .footer-block .amount-img {
    width: 16px;
  }
  .footer-block .amount-text {
    font-size:14px;
  }
  .comments {
    margin-bottom: 80px;
  }
}





.information {
  cursor: pointer;
  display: flex;
  align-items: center; 
  img {
    width: 18px;
    height: 18px;
    margin-right: 4px;
  }
  span {
    font-size:12px;
    font-family:PingFangSC-Medium;
    font-weight:500;
    color:rgba(0,176,97,1);
    line-height:17px;
    letter-spacing:1px;
  }
}
.more {
  padding-left: 20px;
  cursor: pointer;
}