.send-button{
    font-size: 14px;
    font-family: PingFangSC-Medium;
    font-weight: bolder;
    color: #7D7D7D;
    cursor: pointer;
  }
  .new-post {
    padding-top: 45px;
    min-height: 100%;
    background: #fff;
  }

  .radio {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: center;
    padding: 10px;
  }
  .edit-content {
    /* margin: 10px; */
  }

  /* 编辑器层级大于modal 改变编辑器层级 */
  .v-note-wrapper{
    z-index: 9;
  }
  .fission{
    display: flex;
    align-items: center;
    background-color: #fff;
    padding: 18px 20px;
    font-size: 14px;
    border-bottom: 1px solid #eaeaea;
    p {
      font-weight: bold;
    }
    .fission-num-slider{
      max-width: 130px;
      width: 70%;
      margin: 0 20px 0 10px;
      z-index: 99;
    }
    .fission-num-Input{
      font-size: 16px;
    }
  }

  .cover {
    display: flex;
    align-items: center;
    background-color: #fff;
    padding: 8px 20px;
    font-size: 14px;
    border-bottom: 1px solid #eaeaea;
     p {
      font-weight: bold;
    }
    .cover-upload{
      margin-left: 10px;
      .cover-add {
        width: 30px;
        margin-top: 12px;
      }
    }
    
    &-right {
      display: flex;
      align-items: center;
      margin-left: 10px;
      &-img {
        width: 60px;
        border: 1px solid #e4e4e4;
        box-sizing: border-box;
      }
      &-remove {
        width: 20px;
        cursor: pointer;
        margin-left: 10px;
      }
    }

  }
  .radio{
    display: flex;
    justify-content: center;
    background-color: #fff;
    padding: 8px 20px;
    font-size: 14px;
    border-bottom: 1px solid #eaeaea;
    .save-type {
      float: left;
      text-align: left;
    }
  }

  .is-original {
    display: flex;
    align-items: center;
    background-color: #fff;
    padding: 12px 20px;
    font-size: 14px;
    border-bottom: 1px solid #eaeaea;
  }

  .edit-title {
    width: 100%;
    padding: 14px 10px;
    border: none;
    outline: none;
    border-radius: 0;
    background: transparent;
    background-color: #fff;
    color: #000;
    border-bottom: 1px solid #ddd;
    font-size: 26px;
    font-weight: bold;
  }
  @media screen and (max-width: 576px) {
    .edit-title {
      font-size: 18px;
    }
}
.original {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #fff;
  padding: 8px 20px;
  font-size: 14px;
  border-bottom: 1px solid #eaeaea;
  p {
    font-weight: bold;
  }
}
.icon-container {
  padding: 0 4px;
  background: rgba(216, 216, 216, 0.67);
  border-radius: 5px;
  .icon {
    color: #ffffff;
  }
  &.active {
    background: #2d8cf0;
  }
}