html,body{
  height: 100%;
}
body {
  background: #F0F0F0;
}

/* 加载更多提示 */
.loading-stat {
  margin: 10px;
  color: #999;
  font-size: 13px;
}

/* max width 最大宽度 */
.mw {
  max-width: 750px;
  margin: 0 auto;
}